{
  "extends": ["mantine", "plugin:@next/next/recommended", "plugin:jest/recommended"],
  "plugins": ["testing-library", "jest"],
  "overrides": [
    {
      "files": ["**/?(*.)+(spec|test).[jt]s?(x)"],
      "extends": ["plugin:testing-library/react"]
    }
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "import/extensions": "off",
    "no-unused-vars": [
      "error",
      {
        "args": "none"
      }
    ],
    // "indent": [4, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
    "no-tabs": 0,
    "react/prop-types": 0,
    "react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"],
    "no-console": "off",
    "quotes": ["error", "single"],
    "@typescript-eslint/quotes": "off"
  }
}
